<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>arcgis-3d-world.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F94F15AB21405C4600021011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F94F15BF21405C4700021011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F94F15CA21405C4700021011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
